h1 {
    font-family: fantasy;
    color: crimson;
    text-align: center;
}
h2 {
    font-family: fantasy;
    color: darkcyan;
    text-align: center;
}
h3 {
    font-family: fantasy;
    color: teal;
    text-align: center;
}
h4 {
    font-family: fantasy;
    color: aquamarine;
    text-align: center;
}
h5 {
    font-family: fantasy;
    color: aqua;
    text-align: center;
}
h6 {
    font-family: fantasy;
    color: cadetblue;
    text-align: center;
}
p {
    font-family: fantasy;
    color: crimson;
    text-align: center;
    margin: auto;
}
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  display: block;
  color: crimson;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(83, 198, 159);
  color: crimson;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 2px solid crimson;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: black;
  color: crimson;
  font-size: 17px;
  border: 2px solid crimson;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: rgb(83, 198, 159);
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 2px solid crimson;  
  }
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: crimson;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}
.dropdown:hover .dropbtn {
    background-color: rgb(83, 198, 159);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: crimson;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.open-button {
  background-color: black;
  color: crimson;
  font-family: fantasy;
  padding: 16px 20px;
  border: 2px solid crimson;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid crimson;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: black;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: black;
  border: 2px solid crimson;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  outline: none;
}

.form-container .btn {
  background-color: black;
  color: crimson;
  padding: 16px 20px;
  border: 2px solid crimson;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: black;
}

.form-container .btn:hover, .open-button:hover {
   background-color: rgb(83, 198, 159); 
}
label {
    font-family: 'Times New Roman', Times, serif;
    color: crimson;
}
a {
    font-family: fantasy;
}
::placeholder {
    color: crimson;
}
input[type=text] {
    background-color: rgb(27, 27, 27);
    outline: none;
}
