h1 {
    font-family: fantasy;
    color: crimson;
    text-align: center;
}
p {
    font-family: fantasy;
    color: crimson;
}
label {
    font-family: 'Times New Roman', Times, serif;
    color: crimson;
}
body {
    background-color: black;
}
* {box-sizing: border-box}

  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 2px solid crimson;
  background: rgb(83, 198, 159);
  font-family: fantasy;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: dodgerblue;
  outline: none;
}
hr {
  border: 1px solid crimson;
  margin-bottom: 25px;
}
button {
  background-color: darkgreen;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid crimson;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover {
  opacity:1;
}
.cancelbtn {
  padding: 14px 20px;
  background-color: darkred;
}
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}
.container {
  padding: 16px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}